.login-screen{
    background-color: #2196f3;
    height: 100%;
    width: auto;
}

.login-container {
    max-width: 300px;
    margin-left: 15%;
    height: 64%;
    background-color: #fff;
}

.login-container .login-form{
  width: 90%;
  padding-left: 5%;
}

.login-container .login-tag{
  text-align: center;
}

.login-container .login-button{
  text-align: center;

}

.login-container .login-heading{
  text-align: center;
-webkit-text-fill-color: #2196f3;
}

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }